In [1]:
import pandas as pd

import os

import matplotlib.pyplot as plt

import seaborn as sns

import time

os.chdir('..')

In [2]:
TEST = pd.read_parquet(r"output\TEST.parquet")

print(TEST['container_id'].value_counts())

print('\nWe can see that tasks are done in parallel by workers')

container_id
66c3a4a487b4    28030
47d06bb7b1a7    26013
01a0112c1a3c    23987
32cd981dbfa1    21970
Name: count, dtype: int64

We can see that tasks are done in parallel by workers

In [3]:
TIME = pd.read_parquet(r"output\TIME.parquet")

TIME = TIME[TIME['executor_memory'].notna() & TIME['executor_cores'].notna()]

TIME.loc[:, 'executor_memory'] = TIME['executor_memory'].apply(lambda x: x.replace('g',''))

TIME[['executor_memory', 'executor_cores', 'computation_seconds']] =\
      TIME[['executor_memory', 'executor_cores', 'computation_seconds']].astype(float)

ANN_time = TIME.loc[TIME['Model'] == 'ANN'].pivot_table(index = 'executor_memory', columns = 'executor_cores', values = 'computation_seconds', aggfunc='mean')

ANN_time[[5,6,7]]

executor_cores          5.0         6.0        7.0
executor_memory
4.0              201.527893         NaN        NaN
5.0              185.670837         NaN        NaN
6.0              198.465530         NaN        NaN
7.0              202.212143  152.235382  147.81662
8.0              164.080048         NaN        NaN
9.0              156.070496         NaN        NaN
10.0             156.761658         NaN        NaN
11.0             158.813400         NaN        NaN

In [4]:
ASJ = pd.read_parquet(r"output\ASJ.parquet")

ASJ

,data_vector,query_vector,Euclidean_Distance,query_type,C,v,l,T,r
0,664.0,2.0,0.000000,2.0,6.0,-1.0,0.02956,0.077597,0.077597
1,6298.0,2.0,3.713457,2.0,6.0,-1.0,0.02956,0.039120,0.077597
2,8329.0,2.0,3.729755,2.0,6.0,-1.0,0.02956,0.039150,0.077597
3,5640.0,2.0,4.275297,2.0,0.0,-1.0,0.02956,0.073084,0.077597
4,613.0,2.0,4.352063,2.0,6.0,-1.0,0.02956,0.061167,0.077597
...,...,...,...,...,...,...,...,...,...
7295,7865.0,95.0,7.028123,1.0,1.0,1.0,-1.00000,0.073274,-1.000000
7296,9275.0,95.0,7.028732,1.0,1.0,1.0,-1.00000,0.090407,-1.000000
7297,6966.0,95.0,7.044934,1.0,1.0,1.0,-1.00000,0.008305,-1.000000
7298,356.0,95.0,7.068656,1.0,1.0,1.0,-1.00000,0.010964,-1.000000
7299,8014.0,95.0,7.070455,1.0,1.0,1.0,-1.00000,0.043072,-1.000000

In [5]:
ANN = pd.read_parquet(r"output\ANN.parquet").sort_values(by = 'query_vector')

ANN

,data_vector,query_vector,Euclidean_Distance,query_type,C,v,l,T,r
5099,2918.0,0.0,6.529315,0.0,0.0,-1.0,-1.0,0.057927,-1.0
5071,7644.0,0.0,6.392876,0.0,2.0,-1.0,-1.0,0.080657,-1.0
5070,6734.0,0.0,6.391892,0.0,0.0,-1.0,-1.0,0.014013,-1.0
5069,7768.0,0.0,6.390663,0.0,5.0,-1.0,-1.0,0.052942,-1.0
5068,6453.0,0.0,6.383204,0.0,2.0,-1.0,-1.0,0.092082,-1.0
...,...,...,...,...,...,...,...,...,...
8272,7400.0,99.0,8.423513,1.0,2.0,2.0,-1.0,0.049211,-1.0
8273,6827.0,99.0,8.428725,1.0,2.0,2.0,-1.0,0.046703,-1.0
8274,7343.0,99.0,8.434703,1.0,2.0,2.0,-1.0,0.010633,-1.0
8264,4972.0,99.0,8.359848,1.0,2.0,2.0,-1.0,0.061689,-1.0
8201,8456.0,99.0,6.947680,1.0,2.0,2.0,-1.0,0.082312,-1.0

In [6]:
BFNN = pd.read_parquet('output\BRUTE_FORCE.parquet').astype(float)

BFNN

,query_vector,Distance,data_vector,query_type,C,v,l,T,r
0,0.0,8.429370e-08,8915.0,0.0,6.0,-1.0,-1.0,0.056623,-1.0
1,0.0,4.917437e+00,1069.0,0.0,27.0,-1.0,-1.0,0.008135,-1.0
2,0.0,5.552160e+00,9292.0,0.0,24.0,-1.0,-1.0,0.004283,-1.0
3,0.0,5.623654e+00,651.0,0.0,5.0,-1.0,-1.0,0.023121,-1.0
4,0.0,5.669254e+00,3744.0,0.0,1.0,-1.0,-1.0,0.035148,-1.0
...,...,...,...,...,...,...,...,...,...
9995,99.0,8.658940e+00,6999.0,1.0,2.0,2.0,-1.0,0.053594,-1.0
9996,99.0,8.665779e+00,8388.0,1.0,2.0,2.0,-1.0,0.036391,-1.0
9997,99.0,8.666491e+00,201.0,1.0,2.0,2.0,-1.0,0.006821,-1.0
9998,99.0,8.683486e+00,9839.0,1.0,2.0,2.0,-1.0,0.033854,-1.0
9999,99.0,8.687438e+00,5876.0,1.0,2.0,2.0,-1.0,0.060826,-1.0

In [7]:
results = BFNN.set_index(['query_vector', 'data_vector'])\
    .join(ASJ.set_index(['query_vector', 'data_vector']), lsuffix='_BF' ,rsuffix='_ASJ', how='inner')

results.shape[0]/BFNN.shape[0]

0.7275

In [8]:
results = BFNN.set_index(['query_vector', 'data_vector'])\
    .join(ANN.set_index(['query_vector', 'data_vector']), lsuffix='_BF' ,rsuffix='_ANN', how='inner')

results.shape[0]/BFNN.shape[0]

0.9975