In [1]:
import pandas as pd

import os

import matplotlib.pyplot as plt

import seaborn as sns

import time

os.chdir('..')

In [2]:
TEST = pd.read_parquet(r"output\TEST.parquet")

print(TEST['container_id'].value_counts())

print('\nWe can see that tasks are done in parallel by workers')

container_id
66c3a4a487b4    28030
47d06bb7b1a7    26013
01a0112c1a3c    23987
32cd981dbfa1    21970
Name: count, dtype: int64

We can see that tasks are done in parallel by workers

In [3]:
TIME = pd.read_parquet(r"output\TIME.parquet")

TIME = TIME[TIME['executor_memory'].notna() & TIME['executor_cores'].notna()]

TIME.loc[:, 'executor_memory'] = TIME['executor_memory'].apply(lambda x: x.replace('g',''))

TIME[['executor_memory', 'executor_cores', 'computation_seconds']] =\
      TIME[['executor_memory', 'executor_cores', 'computation_seconds']].astype(float)

print("Expected average:", TIME['computation_seconds'].mean())

TIME.loc[TIME['Model'] == 'ANN'].pivot_table(index = 'executor_memory', columns = 'executor_cores', values = 'computation_seconds', aggfunc='mean')

Expected average: 140.58940520653357

executor_cores          4.0         5.0        7.0
executor_memory
4.0              223.413391  201.527893        NaN
5.0              137.996727  185.670837        NaN
6.0              146.018581  198.465530        NaN
7.0              167.964493  202.212143  147.81662
8.0               98.337365  164.080048        NaN
9.0               88.733616  156.070496        NaN
10.0             113.105417  156.761658        NaN
11.0             164.078522  158.813400        NaN

In [4]:
ASJ = pd.read_parquet(r"output\ASJ.parquet")

ASJ

,data_vector,query_vector,Euclidean_Distance,query_type,C,v,l,T,r
0,664.0,2.0,0.000000,2.0,6.0,-1.0,0.029560,0.077597,0.077597
1,6298.0,2.0,3.713457,2.0,6.0,-1.0,0.029560,0.039120,0.077597
2,8329.0,2.0,3.729755,2.0,6.0,-1.0,0.029560,0.039150,0.077597
3,5640.0,2.0,4.275297,2.0,0.0,-1.0,0.029560,0.073084,0.077597
4,613.0,2.0,4.352063,2.0,6.0,-1.0,0.029560,0.061167,0.077597
...,...,...,...,...,...,...,...,...,...
7295,590.0,92.0,8.154801,2.0,0.0,-1.0,0.028287,0.038598,0.047144
7296,4487.0,92.0,8.157404,2.0,4.0,-1.0,0.028287,0.034616,0.047144
7297,6511.0,92.0,8.163771,2.0,1.0,-1.0,0.028287,0.043553,0.047144
7298,3290.0,92.0,8.163857,2.0,1.0,-1.0,0.028287,0.032740,0.047144
7299,2872.0,92.0,8.183878,2.0,26.0,-1.0,0.028287,0.042570,0.047144

In [5]:
ANN = pd.read_parquet(r"output\ANN.parquet").sort_values(by = 'query_vector')

ANN

,data_vector,query_vector,Euclidean_Distance,query_type,C,v,l,T,r
6250,4422.0,0.0,6.274271,0.0,0.0,-1.0,-1.0,0.069814,-1.0
6273,6738.0,0.0,6.415200,0.0,4.0,-1.0,-1.0,0.051728,-1.0
6272,5299.0,0.0,6.401768,0.0,0.0,-1.0,-1.0,0.079303,-1.0
6271,7644.0,0.0,6.392876,0.0,2.0,-1.0,-1.0,0.080657,-1.0
6270,6734.0,0.0,6.391892,0.0,0.0,-1.0,-1.0,0.014013,-1.0
...,...,...,...,...,...,...,...,...,...
8429,4305.0,99.0,8.034997,1.0,2.0,2.0,-1.0,0.036211,-1.0
8428,2208.0,99.0,8.000574,1.0,2.0,2.0,-1.0,0.046502,-1.0
8427,688.0,99.0,8.000246,1.0,2.0,2.0,-1.0,0.096375,-1.0
8437,2882.0,99.0,8.108520,1.0,2.0,2.0,-1.0,0.084438,-1.0
8499,9478.0,99.0,8.692895,1.0,2.0,2.0,-1.0,0.036000,-1.0

In [6]:
BFNN = pd.read_parquet('output\BRUTE_FORCE.parquet').astype(float)

BFNN

,query_vector,Distance,data_vector,query_type,C,v,l,T,r
0,0.0,8.429370e-08,8915.0,0.0,6.0,-1.0,-1.0,0.056623,-1.0
1,0.0,4.917437e+00,1069.0,0.0,27.0,-1.0,-1.0,0.008135,-1.0
2,0.0,5.552160e+00,9292.0,0.0,24.0,-1.0,-1.0,0.004283,-1.0
3,0.0,5.623654e+00,651.0,0.0,5.0,-1.0,-1.0,0.023121,-1.0
4,0.0,5.669254e+00,3744.0,0.0,1.0,-1.0,-1.0,0.035148,-1.0
...,...,...,...,...,...,...,...,...,...
9995,99.0,8.658940e+00,6999.0,1.0,2.0,2.0,-1.0,0.053594,-1.0
9996,99.0,8.665779e+00,8388.0,1.0,2.0,2.0,-1.0,0.036391,-1.0
9997,99.0,8.666491e+00,201.0,1.0,2.0,2.0,-1.0,0.006821,-1.0
9998,99.0,8.683486e+00,9839.0,1.0,2.0,2.0,-1.0,0.033854,-1.0
9999,99.0,8.687438e+00,5876.0,1.0,2.0,2.0,-1.0,0.060826,-1.0

In [7]:
results = BFNN.set_index(['query_vector', 'data_vector'])\
    .join(ASJ.set_index(['query_vector', 'data_vector']), lsuffix='_BF' ,rsuffix='_ASJ', how='inner')

results.shape[0]/BFNN.shape[0]

0.7275

In [9]:
results = BFNN.set_index(['query_vector', 'data_vector'])\
    .join(ANN.set_index(['query_vector', 'data_vector']), lsuffix='_BF' ,rsuffix='_ANN', how='inner')

results.shape[0]/BFNN.shape[0]

0.9897